<nav class="navbar  navbar-light bg-light">
  <a class="navbar-brand" href="#" class="ml-5">
    <img src="https://www.citizen.mu/assets/template/images/xzenways.png.pagespeed.ic.jl_1WFuqz3.png" width="80" height="20" class="d-inline-block align-top" alt="">
  </a>
  <form class="form-inline mr-sm-5">
    <button mat-raised-button color="primary" (click)="openLoginDialog()" *ngIf="!service.login">Login | SignUp</button>
    <button mat-raised-button  (click)="Logout()" *ngIf="service.login">Logout</button>
  </form>
</nav>

<router-outlet></router-outlet>